body {
	font-family: consolas;
	text-align: center;
	position: relative;
}

@media (orientation: landscape) {	
	body {
		margin-left: 15vw;
		margin-right: 15vw;
	}
}

@media (orientation: portrait) {	
	body {
		margin-left: 2rem;
		margin-right: 2rem;
	}
}

h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.25rem;
}

p, td, th {
	font-size: 1rem;
	line-height: 1.25rem;
}

div {

}

ul, ol {
	list-style-position: outside;
}

li {
	text-align: left;
	font-size: 2rem;
	padding-bottom: 1rem;
}

table, td, th {
	border: 1.5pt solid;
	border-collapse: collapse;
	text-align: left;
}

table {
	max-width: 100vw;

	margin-left: auto;
	margin-right: auto;
}

td, th {
	padding: .5rem;
}

th, .td-key {
	text-align: center;
}

body > a {
	font-size: 1.5rem;
}

.character-class {
	padding-left: 1rem;
	padding-right: 1rem;

	padding-bottom: 1rem;
	margin-bottom: 1rem;
	
	color: white;
	
	border: 2pt solid;
}

.character-class > table {
	margin-top: 1rem;
}

.character-class a:link {
	color: cyan;
}
.character-class a:visited {
	color: hotpink;
}

.character-class ul {
	padding-left: 1rem;
}
.character-class ul > li {
	padding-bottom: 0.5rem;
	font-size: 1rem;
	line-height: 1.25rem;
}

.character-class-wizard {
	border-color: blue;
	background-color: navy;
}

.character-class-psion {
	border-color: darkviolet;
	background-color: indigo;
}

.character-class-fighter {
	border-color: red;
	background-color: darkred;
}

.character-class-thief {
	border-color: greenyellow;
	background-color: green;
}

.justified-block {
	text-align: justify;
}

#table-facets {
	margin-top: 2rem;
}



#link-back-to-character-creation {
	position: absolute;
	left: 0;
}

#magic-words-main-body {
	margin-top: 4.5rem;
}

#overqualified-baristas-only {
	color: #0000EE;
}

#fireball {
	color: orangered;
}

#magic-words-category-grid {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 1rem;
}
.magic-words-category, #container-random-word {
	background-color: #00000055;
	color: white;
}
.magic-words-grid  {
	display: grid;
	grid-template-columns: auto auto auto;
}



#container-random-word {
	padding: 1rem;
	max-width: 33%;
	min-width: fit-content;
	margin-left: auto;
	margin-right: auto;
}
#button-random-word {
	font-size: 1.5rem;
	display: block;
	margin-left: auto;
	margin-right: auto;

	color: white;
	background-color: #0C0D0D;
	border: 2px groove #313131;
} 
#label-random-word {
	font-size: 1.5rem;

	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 1rem;
}